matplotlib==2.2.2
numpy==1.17.2
shapely==1.6.4.post2
ortools==7.4.7247
Dijkstar==2.4.0
networkx==2.3
sklearn==0.0

# WARNING: This should not be shared externally. We're using a token because fetching private
#          dependencies using the SSH key prior to building the container is a lot more difficult,
#          mostly because protobuf install doesn't respect the virtualenv.
git+https://habxtech:5750d9564b8972c1b432f689142084304278420f@github.com/habx/lib-py-logger.git@v1.6.0#egg=habx_logger==v1.6.0

# For the exec wrapper:
psutil

# For code analysis:
pprofile
pyinstrument

# For the worker:
boto3
requests

# For tests and linting:
pytest
pylint==2.4.2
