matplotlib==2.2.2
numpy==1.14.5
shapely==1.6.4.post2
ortools==6.10.6025
Dijkstar==2.4.0
networkx==2.2

# WARNING: This should not be shared externally. We're using a token because fetching private
#          dependencies using the SSH key prior to building the container is a lot more difficult,
#          mostly because protobuf install doesn't respect the virtualenv.
git+https://habxtech:57cd73fc9c2e8535cf897e45538a13eb4bc9017b@github.com/habx/lib-py-logger.git@v1.0.0#egg=habx_logger

# For code analysis:
pprofile
pyinstrument

# For the worker:
boto3

# For tests and linting:
pytest
pylint==2.2.2
