matplotlib==2.2.2
numpy==1.14.5
shapely==1.6.4.post2
ortools==6.7.4973
Dijkstar==2.4.0
networkx==2.2
git+https://habxtech:19bb1e54b586ba8a032fc8bc83c7d43fdef54433@github.com/habx/lib-py-logger.git@v1.0.0#egg=habx_logger

# For the worker:
boto3

# For tests and linting:
pytest
pylint==2.2.2
